p1/lib/
p1/.vscode/
p1/target/
p1/src/out/
p1/src/maven/
p1/HikariCP-6.3.0.jar
p1/p1oy/~$p1.docx
p1/mysql-connector-java-8.0.28.jar

ron/~$2201-2022007077-贾怀玉.docx
p2/~$p2.docx
p2/.vscode/settings.json
~*.pptx
